@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Monda:wght@400,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Monda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 1200px;
  height: 100%;
  padding: 0 5px;
  margin: 0 auto;
}

button{
  margin-block: 15px;
  padding: 10px;
  width: 100%;
  background: #ff6b08b1;
  color: aliceblue;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* Header */

.header{
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  font-size: 1.5rem;
}

.logo{
  display: flex;
  gap: 10px;
}
.logo h1{
  color: #FF6B08;
}


.nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

.active{
  color: #FF6B08;
  font-weight: 700;
}

.nav ul li{
  cursor: pointer;
}
.nav ul li:hover{
  color: #585858;
}



/* Board list */

.catalog{
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-board{
  width: 300px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-board img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}

.card-board h3{
  margin: 15px 0;
  font-size: 1.2rem;
  color: #212121;
}

.desc{
  margin-block: 10px;
  font-size: 0.8rem;
  color: #585858;
}

/* FullBoard */
.full-board{
  margin-block: 50px;
  display: flex;
}

.canvas, .info-board{
  padding: 0 10px;
}

.canvas{
  width: 70%;

}

.board {
  border: 3px solid black;
  margin-inline: 25px;
  height: 100%;
}

.info{
  padding-left: 5px;
}




.footer{
  margin-top: 50px;
  border-top: 1px solid #FF6B08;
  display: flex;
  padding: 30px 10px;
  justify-content: space-between;
  font-size: 1.5rem;
  align-items: center;
}

.nav ul, .contact ul{
  list-style: none;
  gap: 20px;
}

.active{
  color: #FF6B08;
  font-weight: 700;
}

.nav ul li, .contact ul li{
  margin-block: 10px;
  cursor: pointer;
}
.nav ul li:hover, .contact ul li:hover{
  color: #585858;
}


@media (max-width:500px) {
  *{
    font-size: 0.85rem;
  }
}