* {
  margin: 0;
  padding: 0;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.735);
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}

.active{
  color: #5c45df;
  font-weight: 550;
}
/* header */

.header-div{
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-div img{
  width: 70px;
}

.nav{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav li{
  cursor:pointer;
}




/* footer */

.footer{
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-ul{
  gap: 10px ;
}

.tab-ul li{
  cursor:pointer;
}


/* canvas */

.canvas{
  display: flex;
  justify-content: center;
  height: 600px;
  
}

.board{
  width:70%;
  border: 3px solid rgb(0, 0, 0);
  padding: 25px;
  margin-right: 10px;
  position: relative;
}

.card{
  width: 28%;
  text-align: center;
}

.card h4{
  margin-block: 10px;
  opacity: 0.7;
}

/* фигуры */
.cricle{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(92, 69, 223);
  position: absolute;
  cursor: grab; 
}

.square{
  width: 70px;
  height: 70px;
  border-radius: 0;
  background-color: rgb(27, 125, 0);
  position: absolute;
  left: 100px;
  top:70px;
  cursor: grab; 
}

.text{
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 0;
  background-color: rgb(125, 94, 0);
  position: absolute;
  cursor: grab; 
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 100px;
}